*{
    margin: 0;
    padding:0;
    overflow-x: hidden;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color:whitesmoke ;
    border: orangered 5px solid;
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 120px;
    padding: 10px 90px 10px 10px;
    font-weight:600;
}
.logo img{
    width: 50px;
    height:50px;
}
.nav-container{
    display: flex;
    background-color: #2c3e50;
    justify-content:space-between;
    align-items: center;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
.serives-container ul{
    display:flex;
    gap: 20px;
    list-style: none;
    margin-right: 20px;
    font-weight: bold;
    align-items: center;
}
.serives-container ul li a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
.serives-container ul li a:hover{
    color: #ef6634;
    cursor: pointer; 
} 
.serives-container button{
    background-image:linear-gradient(to right,#ff6b35,#fc8e67);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10PX;
    cursor: pointer;
    transition: ease-out 0.2s;
}
.serives-container button:hover{
    box-shadow: 0px 0px 10px 2px #fa875e;
    margin-bottom: 10px;
}
.menuicon{
    display: none;
    align-items: center;
    font-size: 30px;
    margin-right: 12px;
}
.menuicon i{
    color: white;
    font-size: 20px;
}
.home-page{
    margin-top: 70px;
    padding:  80px 0;
    display: flex;
    justify-content: space-between;
    background-image:url(" https://st.depositphotos.com/1002076/3032/i/450/depositphotos_30327079-stock-photo-steam-boiler.jpg" );
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    
}
.home-par{
    margin: 0 auto;
    text-align: center;
}
.home-page h1{
    font-size: 6vmin;
    font-weight:800;
    color: white;
}
.home-page span{
    color:#fa875e;
}
.home-page p{
    color: white;
    font-size:2vmin;
    font-weight:bold;
    padding: 25px 0;
}
 .Electric img{
    width: 360px;
    height: 400px;
    margin-top:-50px;
    margin-right: 50px;
}
#info{
    padding: 5px 10px;
    background-color: transparent;
    color:white;
    font-size: 2vmin;
    border-radius: 7px;
    border: solid 2px white;
    cursor: pointer;
    transition: ease-out 0.3s;
}
#info:hover{
    background: white;
    color: black;
}
#num{
    background-image: linear-gradient(to right,#ef6634,#f78c65);
    background-color: #ef6634;
    padding: 6px 15px ;
    border-radius: 7px;
    font-size: 2vmin;
    color: white;
    border: none;
    cursor: pointer;
    transition: ease-out 1s;
}
#num:hover{
    position: relative;
    bottom:10px;
    box-shadow: 0px 0px 10px 2px #ef6634;   
}
.home-page-logo{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}
#comp-logo{
    width: 25vmin;
    height: 25vmin;
}
#comp-prod{
    display: flex;
    align-self: center;
    width: 340px;
    height: 70px;
}
.services{
    width: 100%;
    color: #183048;
    background: whitesmoke;
    font-weight: 500;
}
.ser-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 50px;
    font-size: 15px;
}
.ser-heading h1{
    font-size:30px;
}
.cards{
    display: flex;
    flex-wrap :wrap;
    gap: 40px;
    justify-content: center; 
    padding-bottom: 80px;
}
.ser-card,
.repai-card,
.shield-card{
    background: rgb(255, 255, 255);
    padding: 35px;
    border-radius: 20px;
    box-shadow:0px 0px 10px 1px  #bfdbf6;
    width: 250px;
}
.ser-card h2,
.repai-card h2,
.shield-card h2{
    margin-top: 25px;
}
.ser-icon,
.tools-icon,
.shield-icon{
    font-size: 25px;
    width: 55px;
    height: 55px;
    background: #183048;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
}
.ser-card ul,
.repai-card ul{
    margin: 20px;
}
.ser-card li,
.repai-card li{
    margin-bottom: 20px;
    color: #2a445e;
    font-weight: 200;
    padding-left: 25px; 
    position: relative;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}
.ser-card li::before,
.repai-card li::before{
    content:'✓' ;
    color: rgb(107, 220, 107);
    font-size: 15px;
    font-weight: bold;
    position:absolute;
    left:0px;
}
.ser-card button,
.repai-card button,
.shield-card button{
    margin-top: 50px;
    font-size: 15px;
    color: #183048;
    border: #183048 solid 2px;
    padding: 10px;
    border-radius: 10px;
    background: white;
    font-weight: 600;
}
.repai-card button{
    margin-top: 150px;
}
.shield-card button{
    margin-top: 100px;
}
.ser-card button .bi,
.repai-card button .bi,
.shield-card button .bi{
    margin-left: 17px;
}
.ser-card button:hover,
.repai-card button:hover,
.shield-card button:hover{
    background: #183048;
    color: white;
}
.shield-card p{
    color: #2a445e;
    font-weight: 200;
    line-height: 20px;
    font-size: 13px;
    margin-top: 20px;
}
.container{
    text-align: center;
}
.container h2{
    color: #183048;
    margin-bottom: 15px;
    font-size: 25px;
}
.container p{
    color: #2a445e;
    margin-bottom: 35px;
    font-size: 15px;
}
.container button{
    background: #ef6634;
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s ease;
    background: linear-gradient(to right, #ef6634, #f18963);
}
.container button .bi{
    margin-right: 20px;
}
.panel-ser{
    background: #183048;
    color: white;
    display: inline-block;
    padding: 15px  10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px  #33608c;
    box-sizing: content-box;
}
.panel-ser h3{
    margin-bottom: 20px;
}
.flask-icon,
.bowl-icon{
    background: #2a445e;
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    line-height: 20px;
    width: 200px;
    text-align: center;
    font-size: 12px;
}
.bi-flask-fill{
    color:black;
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 14px;
}
.bowl-icon img{
    display: block;
    margin: auto;
    padding: 5px;
}
.container-ser{
    display: flex;
    padding: 90px 60px;
    justify-content:space-around;
    border-bottom: #1e4770 1px solid;
}

.brands{
    margin-bottom: 40px;
    text-align: center;
}
.brands h2{ 
    color: #183048;
    margin-bottom: 20px;
    font-size: 5vmin;
}
.brands p{
    font-size: 3vmin;
    background: #d5e6ec;
    border-radius: 7px;
    padding: 18px;
    border: px solid #40678f;
    width: 82%;
    margin: auto;    
}
.brand-names img{
    width: 150px;
    height: 30px;
    border: solid 1px black ;
    padding: 13px 42px;
    margin-top: 15px;
}
.brand-names{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.label{
    color: white;
    background-color: rgb(53, 45, 45);
    position:absolute;
    padding: 3px 10px;
    top: 0;
    right: 0;
    font-size: 13px;
}
.logo-con{
    position: relative;
    display: inline-block;
}
.other{
    color: #183048;
    padding: 20px;
    text-align: center;
    font-size: 3vmin;
}
.note{
    background-color: rgb(243, 223, 226);
    text-align: center;
    padding: 25px;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    border-left: #ef6634 solid 5px;
    font-size: 2vmin;
}
.bnd{
    padding: 100px 10px;
}

.service-area{
    color: #183048;
    text-align: center;
    padding: 80px 0px;
    background-color:whitesmoke;
}
.service-area p{
    background-color: white;
    padding: 15px 50px;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    line-height: 25px;
    margin-top: 30px;
    border-left: #ef6634 solid 6px;
    font-size: 2vmin;
    text-align: left;
}
.service-request{
    background-color: #183048;
    padding: 100px 30px;
    text-align: center;
}
.service-request h2{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}
.row{
    display: flex;
    gap:10px; 
}
.input{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.textarea{
    font-size: 8px;
    padding: 10px;
}
textarea{
    border: solid 1.5px rgb(129, 156, 237);
    border-radius: 7px;
    padding: 18px;
    font-size: 13px;
    outline: none;
    margin-bottom: 19px;
    width:100%;
}
textarea:focus{
    border: solid 1.5px rgb(240, 75, 75);
    box-shadow: 0 0 4px rgb(240, 75, 75);
}

input{
    border: solid 1.5px rgb(129, 156, 237);
    border-radius: 7px;
    padding: 12px;
    font-size: 13px;
    outline: none;
}
input:focus{
    border: solid 1.5px rgb(240, 75, 75);
    box-shadow: 0 0 4px rgb(240, 75, 75);
}
.ser-form{
    background-color: whitesmoke;
    width: 80%;
    padding: 35px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
}
.terms h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.terms ol {
  margin-left: 1.2rem;
  line-height: 1.6;
}

.terms li {
  margin-bottom: 0.8rem;
}

.terms{
    color: #183048;
    text-align: left;
}
.list-of-terms{
    padding: 15px 30px;
    line-height: 20px;
    font-size: 13px;
}
.check-wrapper{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.95rem;
}
.check-wrapper input {
  margin-right: 0.6rem;
}
.submit-button button{
   color: white;
   background-color: #ef6634;
   border-radius: 5px;
   padding: 10px;
   width: 100%;
   border: none;
   font-size: 12px;
   font-weight: 600;
}
.footer{
    background-color: rgba(1, 25, 55, 0.98);
    color: white;
    padding: 70px 50px;
    
}
.footer-page{
    display: flex;
    justify-content: space-between;
}
.mjg h2,
.mjg h3 {
    font-weight: 600;
    margin-bottom: 15px;
}
.mjg p{
    line-height: 1.6;
    max-width: 350px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 13px;
}
.mjg ul{
    list-style: none;
    padding: 0;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 100;
}
.mjg ul li a{
    color: white;
    text-decoration: none;
}
.mjg ul li a:hover{
    color: #ef6634;
    cursor: pointer;  
}
.footer-page ul li{
    margin-bottom: 10px;
}
.contact-box {
    background: #ffffff;
    color: #000000;
    padding: 12px;
    border-left: 6px solid #f79c1d;
    border-radius: 8px;
    width: 280px;
    margin-top: 20px;
    line-height: 25px;
    font-size: 13px;
}
.contact-box .bi-telephone-fill,
.bi-envelope-fill, .bi-house-door-fill{
    color:#ef6634;
    margin-right: 10px;
}
.footer-bottom{
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 40px;
    padding-top: 30px;
    font-size: 13px;
}
#HOME,
#OUR-SER,
#BRAND,
#SER-AREA,
#SER-REQUEST{
    scroll-margin-top: 100px;  
}

input[type="checkbox"]{
  width: 15px; 
  height: 15px; 
}


@media (max-width:850px){
#menulist {
  display: none;
  background-color: #2c3e50;
  text-align: center;
  z-index: 9;
}
.nav-container{
    padding: 0;
    display:flex;
    flex-direction:column;
}
#menulist ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

#menulist ul li a:hover {
  color: #ef6634;
}
.logo{
    position: relative;
    margin-right: auto;
}
.menuicon{
    display: block;
    position: fixed;
    right: 0%;
    top: 3%;
    z-index: 9999;
}
.home-page {
    flex-direction: column;   
    align-items: center;      
    text-align: center;
    padding: 40px 0;
}

.home-par {
    margin: 0 auto;
    text-align: center;
}

.Electric img {
    width: 80vmin;
    height: auto;
    margin: 100px auto 0 auto; 
}

   
.home-page-logo{
    margin: 0;
    width:max-content;
    justify-self:center;
    flex-direction: column;
}
#comp-logo{
    width: 90vmin;
    height: 90vmin;
}
#comp-prod{
    display: flex;
    align-self: center;
    width: 70vmin;
    height: 20vmin;
}
.ser-heading {
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 40px;
    
    gap: 9px;
}
.ser-heading h1{
    font-size: 5vmin;
}
.ser-heading p{
    font-size: 2vmin;
}
.cards{
    gap: 9px;
}
.ser-card,
.repai-card,
.shield-card{
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    font-size: 8px;
}
.shield-card{
    width: 270px;
}
.ser-icon,
.tools-icon,
.shield-icon{
    font-size: 13px;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.ser-card ul,
.repai-card ul{
    margin-top: 7px;
    margin-left: 5px;
    padding: 1px;
}
.ser-card li,
.repai-card li{
    margin-bottom: 20px;
    font-weight: 200;
    padding-left: 10px; 
    font-size: 7px;
    line-height: 10px;
    margin-left: 0;
}
.ser-card li::before,
.repai-card li::before{ 
    font-size: 10px;
}
.ser-card button,
.repai-card button,
.shield-card button{
    
    font-size: 8px;
    padding: 3px;
    border-radius: 3px;
}
.repai-card button{
    margin-top:20px;
}
.shield-card button{
    margin-top: 40px;
}
.ser-card button .bi,
.repai-card button .bi,
.shield-card button .bi{
    margin-left: 10px;
}

.shield-card p{
    line-height: 13px;
    font-size: 7px;
    margin-top: 10px;
}
.container-ser{
    flex-direction: column;
    display: flex;
    padding: 30px 0px;
    text-align: center;
    width: 100%;
}
.container h2{
    margin-bottom: 10px;
    font-size: 4.5vmin;
}
.container p{
    margin-bottom: 15px;
    font-size: 2vmin;
}
.container button{  
    padding: 5px 8px;
    font-size: 2.5vmin;
    border-radius: 3px;
    margin-bottom: 10px;
}
.container button .bi{
    margin-right: 10px;
}
 #panel{
    padding: 20px 10px;
    border-radius: 8px;
    align-items: center;
    margin: auto;
    box-sizing: content-box;
    width: 70%;
   
}
.panel-ser h3{
    margin-bottom: 10px;
    font-size: 3.5vmin;
}
.flask-icon,
.bowl-icon{
    
    border-radius: 5px;
    width: 96%;
    font-size: 2vmin;
   
   
}
.bi-flask-fill{
    font-size: 4vmin;
    padding: 12px;
}
.bowl-icon img{
    padding: 2px;
    font-size: 4vmin;
}
.brands{
    margin-bottom: 40px;
    margin:0px 10px ;
}
.brands h2{ 
    font-size: 3.5vmin;
    margin-bottom: 15px;
}
.brands p{
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: 0;
    border-radius: 7px;
    font-size: 2.5vmin;
}
.brand-names{
    flex-direction: column;
    gap: 5px;
    align-items: center;  
}  
.logo-con{
    text-align: center;
    width: 100%;
}
.label{
    font-size: 3vmin;
}
.other{
    font-size: 3vmin;
    padding: 8px;
}
.note{
    text-align: center;
    padding: 10px;
    width: 80%;
    margin: auto;
    border-radius: 7px;
    font-size: 2vmin;
}
.bnd{
    padding: 50px 10px;
}
.service-area h2{
    font-size: 5vmin;
}
.service-area{
    padding: 40px; 
}
.service-area p{
    padding: 15px 10px;
    width: 70%;
    line-height: 10px;
    margin-top: 10px;
}
.service-request{
    padding: 70px 0px;
}
.service-request h2{
    font-size: 4vmin;
    margin-bottom: 20px;
    text-align: center;
}
.row{
   flex-direction: column;
}
.input{
    margin-bottom: 5px;
}
textarea{
    border-radius: 3px;
    padding: 4px;
    font-size: 3vmin;
    margin-bottom: 4px;
    width:96%;
}
input{
    border-radius: 3px;
    padding: 5px;
    font-size: 3vmin;
}
.ser-form{
    padding: 10px;
    border-radius: 6px;

}
.terms h4{
    font-size: 4vmin;
    margin-top: 20px;
}
.list-of-terms{
    padding: 1rem;
    font-size: 2.5vmin;
}
.submit-button button{
   border-radius: 3px;
   padding: 0.9rem;
   font-size: 3vmin;
}
.input[type="checkbox"]{
  width: 20vmin; 
  height: 5vmin;
}
.footer{
    padding:30px 40px;
}
.footer-page{
   display: grid;
   grid-template-columns: repeat(2,160px);
}
.mjg h3 {
    font-size: 4vmin;
    margin-bottom: 1px;
}
.mjg h4{
    font-size: 4vmin;
}
.mjg p{
    line-height: 1.6;
    max-width: 150px;
    margin-top: 10px;
    font-size:2vmin;
}
.mjg ul{
    font-size: 3vmin;
    margin-top: 10px;
}
.contact-box {
    padding: 8px;
    border-radius: 4px;
    width: 120px;
    margin-top: 10px;
    line-height: 13px;
    font-size: 2.2vmin;
}
.contact-box .bi-telephone-fill,
.bi-envelope-fill, .bi-house-door-fill{
    font-size: 2vmin;
    margin-right: 2px;
}
.footer-bottom{
    padding-top: 10px;
    font-size:3vmin;
}
}

    